<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4DGoose</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- use go-debug.js when developing and go.js when deploying -->
    <script src="../static/js/go.js"></script>
    <script src="../static/js/cytoscape.min.js"></script>
</head>
<body>
    <script src="../static/js/script.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div style="display: flex; flex-direction: row; gap: 20px">
        <div class="box-div theme-color" style="margin-bottom: 20px;">
            <p class="select">Theme: </p>
            <select class="select-box" id="theme" onchange="changeTheme(), changeMainTheme()">
                <option value="base" selected="">Base</option>
                <option value="pretty">Pretty</option>
            </select>
        </div>

        <div class="box-div theme-color" style="margin-bottom: 20px;">
            <p class="select">Visible Levels: </p>
            <select id="level-chooser" class="select-box" onchange="changeLevelView()">
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
                <option value="100" selected="">All Levels</option>
            </select>
        </div>
    </div>
    
    <div id="cy" style="margin-top: 40px; width: 95%; height: 600px;"></div>
    <script src="../static/js/cytoDiagram.js"></script>

    <!-- <div id="myDiagramDiv"
    style="width: 95%; height: 600px; background-color: #DAE4E4; border-radius: 20px;"></div>
    <script src="../static/js/network.js"></script> -->
    

    <script>body.appendChild(footer)</script>
</body>
</html>
