<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4DGoose</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- use go-debug.js when developing and go.js when deploying -->
    <script src="../static/js/go.js"></script>
</head>
<body>
    <script src="../static/js/script.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div class="box-div" style="margin-bottom: 20px;">
        <p class="theme-select">Theme: </p>
        <select class="theme-box" id="theme" onchange="changeTheme(), changeMainTheme()">
            <option value="base" selected="">Base</option>
            <option value="pretty">Pretty</option>
        </select>
    </div>
    
    <div id="myDiagramDiv"
     style="width: 95%; height: 600px; background-color: #DAE4E4; border-radius: 20px;"></div>
     <script src="../static/js/network.js"></script>

     <script>body.appendChild(footer)</script>
</body>
</html>
