.box-div {
    padding-left: 7px;
    padding-right: 7px;
    background-color: #285D39;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: 3px 3px 3px #CCCCCC;
    color: white;
}

.theme-select {
    font-size: 16px;
    font-family: Verdana;
}

.theme-box {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: #285D39;
}
