.banner {
    width: 100%;
    height: 100px;
    background-color: #285D39;
    box-shadow: 3px 3px 3px #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px
}

.main-header {
    color: white;
    font-size: 48px;
    font-family: Verdana;
}

.theme-color {
    background-color: #285D39;
}

.box-div {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: 3px 3px 3px #CCCCCC;
    color: white;
}

.select {
    font-size: 16px;
    font-family: Verdana;
}

.select-box {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: #285D39;
}

.legend {
    margin-left: 20px;
    padding: 16px;
    width: 500px;
    height: 50px;
    display:flex;
    font-family: Verdana;
    color: white;
    font-size: 14px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -800px;
    top: -10px;
    border-radius: 5px;
    box-shadow: 0px 3px 0px #CCCCCC;
}

.basic-link a {
    color: #CCCCFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.basic-link a:hover {
    color: #88AbF5;
}

.github-link {
    color: #CCCCFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.github-link:hover {
    color: #88AbF5;
}