.box-div {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #285D39;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: 3px 3px 3px #CCCCCC;
    color: white;
}

.theme-select {
    font-size: 20px;
    font-family: Verdana;
}

.theme-box {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    color: #285D39;
}
